h1 {
	color: blue;
}

.info {
	font-size: 25px;
	text-align: center;
}

.crystal {
	background-size: contain;
	background-repeat: no-repeat;
	height: 150px;
	width: 150px;
}

#red {
	background-image: url('../images/red.jpg');
	transition: .5s;
}

#red:hover {
	background-color: red;
}

#blue {
	background-image: url('../images/blue.jpg');
}

#green {
	background-image: url('../images/green.jpg');
}

#yellow {
	background-image: url('../images/yellow.jpg');
}

.tally {
	font-size: 30px;
	margin: 0px;
}